<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>SDH_SDH_btn_fenxiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,217},{221,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{221,95}}</string>
        <key>sourceSize</key>
        <string>{221,95}</string>
      </dict>
      <key>SDH_SDH_shadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,314},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>SDH_Sclt.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,119},{78,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,72}}</string>
        <key>sourceSize</key>
        <string>{78,72}</string>
      </dict>
      <key>SDH_btn1.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,217},{92,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,95}}</string>
        <key>sourceSize</key>
        <string>{92,95}</string>
      </dict>
      <key>SDH_btn10.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,765},{104,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,95}}</string>
        <key>sourceSize</key>
        <string>{104,95}</string>
      </dict>
      <key>SDH_btn11.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,943},{144,70}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,70}}</string>
        <key>sourceSize</key>
        <string>{146,70}</string>
      </dict>
      <key>SDH_btn12.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,472},{196,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{196,88}}</string>
        <key>sourceSize</key>
        <string>{198,88}</string>
      </dict>
      <key>SDH_btn13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,2},{152,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{152,70}}</string>
        <key>sourceSize</key>
        <string>{154,70}</string>
      </dict>
      <key>SDH_btn14.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,937},{154,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,70}}</string>
        <key>sourceSize</key>
        <string>{154,70}</string>
      </dict>
      <key>SDH_btn2.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,2},{367,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{367,115}}</string>
        <key>sourceSize</key>
        <string>{369,115}</string>
      </dict>
      <key>SDH_btn3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,937},{77,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,81}}</string>
        <key>sourceSize</key>
        <string>{77,81}</string>
      </dict>
      <key>SDH_btn4.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,854},{77,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,73}}</string>
        <key>sourceSize</key>
        <string>{77,73}</string>
      </dict>
      <key>SDH_btn5.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,757},{104,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,95}}</string>
        <key>sourceSize</key>
        <string>{104,95}</string>
      </dict>
      <key>SDH_btn6.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,755},{198,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,88}}</string>
        <key>sourceSize</key>
        <string>{198,88}</string>
      </dict>
      <key>SDH_btn66.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,665},{198,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,88}}</string>
        <key>sourceSize</key>
        <string>{198,88}</string>
      </dict>
      <key>SDH_btn7.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,861},{198,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,88}}</string>
        <key>sourceSize</key>
        <string>{198,88}</string>
      </dict>
      <key>SDH_btn77.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,771},{198,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,88}}</string>
        <key>sourceSize</key>
        <string>{198,88}</string>
      </dict>
      <key>SDH_btn8.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,681},{198,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,88}}</string>
        <key>sourceSize</key>
        <string>{198,88}</string>
      </dict>
      <key>SDH_btn88.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,565},{198,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,88}}</string>
        <key>sourceSize</key>
        <string>{198,88}</string>
      </dict>
      <key>SDH_btn9.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,99},{201,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{201,88}}</string>
        <key>sourceSize</key>
        <string>{201,88}</string>
      </dict>
      <key>SDH_btnLook.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,2},{221,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{221,95}}</string>
        <key>sourceSize</key>
        <string>{221,95}</string>
      </dict>
      <key>SDH_cnt_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1047,217},{166,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,42}}</string>
        <key>sourceSize</key>
        <string>{166,42}</string>
      </dict>
      <key>SDH_img1.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,119},{287,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{287,96}}</string>
        <key>sourceSize</key>
        <string>{287,96}</string>
      </dict>
      <key>SDH_img2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,627},{423,44}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{423,44}}</string>
        <key>sourceSize</key>
        <string>{423,54}</string>
      </dict>
      <key>SDH_img3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{474,258}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{474,258}}</string>
        <key>sourceSize</key>
        <string>{474,258}</string>
      </dict>
      <key>SDH_img4.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,470},{127,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,129}}</string>
        <key>sourceSize</key>
        <string>{127,129}</string>
      </dict>
      <key>SDH_img5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,581},{423,44}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{423,44}}</string>
        <key>sourceSize</key>
        <string>{423,54}</string>
      </dict>
      <key>SDH_imgDa.png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,970},{53,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,47}}</string>
        <key>sourceSize</key>
        <string>{53,47}</string>
      </dict>
      <key>SDH_imgFang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1170,701},{39,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,41}}</string>
        <key>sourceSize</key>
        <string>{39,41}</string>
      </dict>
      <key>SDH_imgHY.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,533},{423,46}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,8},{423,46}}</string>
        <key>sourceSize</key>
        <string>{423,54}</string>
      </dict>
      <key>SDH_imgHao.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,236},{39,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,41}}</string>
        <key>sourceSize</key>
        <string>{39,41}</string>
      </dict>
      <key>SDH_imgHei.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,193},{39,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,41}}</string>
        <key>sourceSize</key>
        <string>{39,41}</string>
      </dict>
      <key>SDH_imgK.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,562},{185,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{185,117}}</string>
        <key>sourceSize</key>
        <string>{185,117}</string>
      </dict>
      <key>SDH_imgMei.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,947},{39,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,41}}</string>
        <key>sourceSize</key>
        <string>{39,41}</string>
      </dict>
      <key>SDH_imgScore.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,562},{39,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,41}}</string>
        <key>sourceSize</key>
        <string>{39,41}</string>
      </dict>
      <key>SDH_imgScoreBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,562},{125,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,101}}</string>
        <key>sourceSize</key>
        <string>{125,101}</string>
      </dict>
      <key>SDH_imgSlct.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,725},{235,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,210}}</string>
        <key>sourceSize</key>
        <string>{235,210}</string>
      </dict>
      <key>SDH_imgZhu.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,972},{66,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{66,39}}</string>
        <key>sourceSize</key>
        <string>{68,39}</string>
      </dict>
      <key>SDH_img_1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,854},{97,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,101}}</string>
        <key>sourceSize</key>
        <string>{97,101}</string>
      </dict>
      <key>SDH_img_1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,547},{97,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,101}}</string>
        <key>sourceSize</key>
        <string>{97,101}</string>
      </dict>
      <key>SDH_imging.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,673},{396,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{396,50}}</string>
        <key>sourceSize</key>
        <string>{396,50}</string>
      </dict>
      <key>SDH_noJiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,951},{107,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,58}}</string>
        <key>sourceSize</key>
        <string>{107,58}</string>
      </dict>
      <key>SDH_photoBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,757},{86,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,86}}</string>
        <key>sourceSize</key>
        <string>{86,86}</string>
      </dict>
      <key>SDH_scltBg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,314},{154,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,154}}</string>
        <key>sourceSize</key>
        <string>{154,154}</string>
      </dict>
      <key>SDH_score_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1146,960},{54,49}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,4},{54,49}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,951},{93,53}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{93,53}}</string>
        <key>sourceSize</key>
        <string>{95,59}</string>
      </dict>
      <key>SDH_score_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,960},{54,49}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,4},{54,49}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,858},{64,49}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,4},{64,49}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1096,909},{62,49}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,4},{62,49}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,601},{66,51}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,3},{66,51}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,805},{64,51}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,3},{64,51}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,650},{66,49}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{66,49}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,701},{64,51}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,3},{64,51}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,262},{32,49}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,4},{32,49}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,957},{64,49}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,4},{64,49}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,947},{64,49}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,4},{64,49}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,947},{64,49}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,4},{64,49}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,917},{64,51}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,3},{64,51}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,754},{64,49}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,4},{64,49}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,605},{66,53}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,5},{66,53}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,862},{70,53}}</string>
        <key>offset</key>
        <string>{2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,5},{70,53}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,917},{68,53}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,5},{68,53}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,929},{72,53}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,5},{72,53}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{1026,862},{68,53}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,5},{68,53}}</string>
        <key>sourceSize</key>
        <string>{74,59}</string>
      </dict>
      <key>SDH_score_score.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,189},{198,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,88}}</string>
        <key>sourceSize</key>
        <string>{198,88}</string>
      </dict>
      <key>SDH_selfPhotoBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,655},{108,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>SDH_shadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,725},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>SDH_slct.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,314},{156,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,156}}</string>
        <key>sourceSize</key>
        <string>{156,156}</string>
      </dict>
      <key>SDH_slct_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1058,404},{140,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,141}}</string>
        <key>sourceSize</key>
        <string>{140,141}</string>
      </dict>
      <key>SDH_slct_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1047,261},{140,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,141}}</string>
        <key>sourceSize</key>
        <string>{140,141}</string>
      </dict>
      <key>SDH_slct_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,74},{140,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,141}}</string>
        <key>sourceSize</key>
        <string>{140,141}</string>
      </dict>
      <key>SDH_slct_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,422},{140,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,141}}</string>
        <key>sourceSize</key>
        <string>{140,141}</string>
      </dict>
      <key>SDH_slct_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,279},{140,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,141}}</string>
        <key>sourceSize</key>
        <string>{140,141}</string>
      </dict>
      <key>SDH_txt_shoot_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,655},{178,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,100}}</string>
        <key>sourceSize</key>
        <string>{178,100}</string>
      </dict>
      <key>SDH_txt_shoot_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,845},{178,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,100}}</string>
        <key>sourceSize</key>
        <string>{178,100}</string>
      </dict>
      <key>SDH_userbg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,262},{428,269}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,269}}</string>
        <key>sourceSize</key>
        <string>{428,269}</string>
      </dict>
      <key>SDH_zhu_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,601},{35,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>SDH_zhu_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,279},{23,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,23}}</string>
        <key>sourceSize</key>
        <string>{23,23}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>SDH.png</string>
      <key>size</key>
      <string>{1224,1020}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:9c0e8a59694bb99927d619e26047c5e2:8024975afd9074cc056c7cf7aa9537c4:ad012ddc60b8e1972d7d3b613e6c21fe$</string>
      <key>textureFileName</key>
      <string>SDH.png</string>
    </dict>
  </dict>
</plist>

