<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>SDH_lookCard_arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,10},{18,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,36}}</string>
        <key>sourceSize</key>
        <string>{18,36}</string>
      </dict>
      <key>SDH_lookCard_line.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{907,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{907,6}}</string>
        <key>sourceSize</key>
        <string>{907,6}</string>
      </dict>
      <key>SDH_lookCard_nameBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,10},{227,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{227,38}}</string>
        <key>sourceSize</key>
        <string>{227,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>SDH_lookCard.png</string>
      <key>size</key>
      <string>{911,50}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:7efb53d6f42c51759a53bbd3b6d4fc3b:afcfd5b5ead678bdbde60877cc2dada5:65acc3fd4a8f20950a62ae571ce145e5$</string>
      <key>textureFileName</key>
      <string>SDH_lookCard.png</string>
    </dict>
  </dict>
</plist>

