<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>yzbp_score_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{1082,2},{79,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,42}}</string>
        <key>sourceSize</key>
        <string>{79,42}</string>
      </dict>
      <key>yzbp_score_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,46},{77,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,42}}</string>
        <key>sourceSize</key>
        <string>{77,42}</string>
      </dict>
      <key>yzbp_score_110.png</key>
      <dict>
        <key>frame</key>
        <string>{{1054,46},{70,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,42}}</string>
        <key>sourceSize</key>
        <string>{70,42}</string>
      </dict>
      <key>yzbp_score_115.png</key>
      <dict>
        <key>frame</key>
        <string>{{1126,46},{68,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,41}}</string>
        <key>sourceSize</key>
        <string>{68,41}</string>
      </dict>
      <key>yzbp_score_120.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,2},{79,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,42}}</string>
        <key>sourceSize</key>
        <string>{79,42}</string>
      </dict>
      <key>yzbp_score_125.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,46},{77,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,42}}</string>
        <key>sourceSize</key>
        <string>{77,42}</string>
      </dict>
      <key>yzbp_score_130.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,2},{79,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,42}}</string>
        <key>sourceSize</key>
        <string>{79,42}</string>
      </dict>
      <key>yzbp_score_135.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,46},{77,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,42}}</string>
        <key>sourceSize</key>
        <string>{77,42}</string>
      </dict>
      <key>yzbp_score_140.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,2},{80,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,42}}</string>
        <key>sourceSize</key>
        <string>{80,42}</string>
      </dict>
      <key>yzbp_score_145.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,46},{78,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,42}}</string>
        <key>sourceSize</key>
        <string>{78,42}</string>
      </dict>
      <key>yzbp_score_150.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,2},{80,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,42}}</string>
        <key>sourceSize</key>
        <string>{80,42}</string>
      </dict>
      <key>yzbp_score_155.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,46},{77,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,41}}</string>
        <key>sourceSize</key>
        <string>{77,41}</string>
      </dict>
      <key>yzbp_score_160.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,2},{79,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,42}}</string>
        <key>sourceSize</key>
        <string>{79,42}</string>
      </dict>
      <key>yzbp_score_165.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,46},{78,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,42}}</string>
        <key>sourceSize</key>
        <string>{78,42}</string>
      </dict>
      <key>yzbp_score_170.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,2},{78,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,42}}</string>
        <key>sourceSize</key>
        <string>{78,42}</string>
      </dict>
      <key>yzbp_score_175.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,46},{75,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,41}}</string>
        <key>sourceSize</key>
        <string>{75,41}</string>
      </dict>
      <key>yzbp_score_180.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,2},{79,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,42}}</string>
        <key>sourceSize</key>
        <string>{79,42}</string>
      </dict>
      <key>yzbp_score_185.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,46},{77,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,42}}</string>
        <key>sourceSize</key>
        <string>{77,42}</string>
      </dict>
      <key>yzbp_score_190.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,2},{80,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,42}}</string>
        <key>sourceSize</key>
        <string>{80,42}</string>
      </dict>
      <key>yzbp_score_195.png</key>
      <dict>
        <key>frame</key>
        <string>{{1163,2},{78,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,42}}</string>
        <key>sourceSize</key>
        <string>{78,42}</string>
      </dict>
      <key>yzbp_score_200.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,2},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>yzbp_score_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,46},{59,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,42}}</string>
        <key>sourceSize</key>
        <string>{59,42}</string>
      </dict>
      <key>yzbp_score_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{1319,46},{58,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,42}}</string>
        <key>sourceSize</key>
        <string>{58,42}</string>
      </dict>
      <key>yzbp_score_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,46},{60,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,42}}</string>
        <key>sourceSize</key>
        <string>{60,42}</string>
      </dict>
      <key>yzbp_score_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,2},{57,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,42}}</string>
        <key>sourceSize</key>
        <string>{57,42}</string>
      </dict>
      <key>yzbp_score_guo.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,2},{208,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,87}}</string>
        <key>sourceSize</key>
        <string>{208,87}</string>
      </dict>
      <key>yzbp_score_yao.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{208,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,87}}</string>
        <key>sourceSize</key>
        <string>{208,87}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>yzbp_score.png</string>
      <key>size</key>
      <string>{1382,91}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:29c7e2320d7f175c9d007b600b079860:cfeaf9a053154df1a30f6aed43b10390:18d0d88e0d7464ef094ff6b84327b59f$</string>
      <key>textureFileName</key>
      <string>yzbp_score.png</string>
    </dict>
  </dict>
</plist>

