*.obj
*.sdf
*.pdb
*.exe
*.dll
*.o
*.tlog
*.*.tlog
*.*.*.tlog
*.log
*.idb
frameworks/runtime-src/proj.win32/Debug.win32/
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/obj/
simulator/

*.svn-base
.svn/