<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pdk_JS_DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,592}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,592}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>pdk_JS_DK_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{217,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,301}}</string>
                <key>sourceSize</key>
                <string>{217,301}</string>
            </dict>
            <key>pdk_TotalBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,367},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>pdk_shared.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,305},{190,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,60}}</string>
                <key>sourceSize</key>
                <string>{190,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pdk_totalend.png</string>
            <key>size</key>
            <string>{1359,596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e1f04b2f3f45c98c38ed8d3db4ebeba$</string>
            <key>textureFileName</key>
            <string>pdk_totalend.png</string>
        </dict>
    </dict>
</plist>
