<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SDH_game_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,2},{221,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,95}}</string>
                <key>sourceSize</key>
                <string>{221,95}</string>
            </dict>
            <key>SDH_winlose_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{170,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>SDH_winlose_label_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{172,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,96}}</string>
                <key>sourceSize</key>
                <string>{172,96}</string>
            </dict>
            <key>SDH_winlose_label_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{172,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,96}}</string>
                <key>sourceSize</key>
                <string>{172,96}</string>
            </dict>
            <key>SDH_winlose_label_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,100}}</string>
                <key>sourceSize</key>
                <string>{174,100}</string>
            </dict>
            <key>SDH_winlose_label_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{170,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,98}}</string>
                <key>sourceSize</key>
                <string>{170,98}</string>
            </dict>
            <key>SDH_winlose_label_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,100}}</string>
                <key>sourceSize</key>
                <string>{172,100}</string>
            </dict>
            <key>SDH_winlose_label_chouzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{160,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,96}}</string>
                <key>sourceSize</key>
                <string>{160,96}</string>
            </dict>
            <key>SDH_winlose_label_he.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{180,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,97}}</string>
                <key>sourceSize</key>
                <string>{180,99}</string>
            </dict>
            <key>SDH_winlose_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{221,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,95}}</string>
                <key>sourceSize</key>
                <string>{221,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yzbp_end.png</string>
            <key>size</key>
            <string>{1834,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de5ac8f5acf509c5ec2fdcd1853d4795$</string>
            <key>textureFileName</key>
            <string>yzbp_end.png</string>
        </dict>
    </dict>
</plist>
