<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pdk_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,125},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>pdk_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,53},{219,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,70}}</string>
                <key>sourceSize</key>
                <string>{219,70}</string>
            </dict>
            <key>pdk_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,53},{219,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,70}}</string>
                <key>sourceSize</key>
                <string>{219,70}</string>
            </dict>
            <key>pdk_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,125},{421,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,38}}</string>
                <key>sourceSize</key>
                <string>{421,38}</string>
            </dict>
            <key>pdk_logoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,125},{266,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,42}}</string>
                <key>sourceSize</key>
                <string>{266,42}</string>
            </dict>
            <key>pdk_onecard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,143}}</string>
                <key>sourceSize</key>
                <string>{132,143}</string>
            </dict>
            <key>pdk_passcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{768,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,49}}</string>
                <key>sourceSize</key>
                <string>{768,49}</string>
            </dict>
            <key>pdk_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,53},{219,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,70}}</string>
                <key>sourceSize</key>
                <string>{219,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pdk_desk.png</string>
            <key>size</key>
            <string>{906,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a9003a01775e4b1ef12b613e0697ff1$</string>
            <key>textureFileName</key>
            <string>pdk_desk.png</string>
        </dict>
    </dict>
</plist>
