<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pdk_JF_GB_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1188},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pdk_JF_GB_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1188},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pdk_JM_SB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{1136,590}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,590}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>pdk_JM_SL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,592}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,592}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>pdk_JM_WZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1188},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>pdk_JM_WZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1188},{79,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,38}}</string>
                <key>sourceSize</key>
                <string>{79,38}</string>
            </dict>
            <key>pdk_JM_WZ_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1188},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>pdk_JM_WZ_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1188},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>pdk_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{230,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,72}}</string>
                <key>sourceSize</key>
                <string>{230,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pdk_end.png</string>
            <key>size</key>
            <string>{1140,1262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a20624a71dfa314acbea763c423c3582$</string>
            <key>textureFileName</key>
            <string>pdk_end.png</string>
        </dict>
    </dict>
</plist>
