<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yzbp_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,172},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>yzbp_bigwinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{282,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,70}}</string>
                <key>sourceSize</key>
                <string>{282,70}</string>
            </dict>
            <key>yzbp_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,75},{221,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,95}}</string>
                <key>sourceSize</key>
                <string>{221,95}</string>
            </dict>
            <key>yzbp_imgfangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,172},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>yzbp_overTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{224,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,71}}</string>
                <key>sourceSize</key>
                <string>{224,71}</string>
            </dict>
            <key>yzbp_winlose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,581}}</string>
                <key>sourceSize</key>
                <string>{293,581}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yzbp_totalend.png</string>
            <key>size</key>
            <string>{883,297}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab9c9831bee26aaf8e610083bcd0dd2e$</string>
            <key>textureFileName</key>
            <string>yzbp_totalend.png</string>
        </dict>
    </dict>
</plist>
