<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>res_poker_cards_cardBg11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1415,874},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_cardBg22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1572,872},{151,214}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{151,214}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_cardBg33.png</key>
      <dict>
        <key>frame</key>
        <string>{{1572,656},{151,214}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{151,214}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1415,656},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1729,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1572,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1415,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,874},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,656},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1729,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1572,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1415,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_0a.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_0b.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,874},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_0c.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,656},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_0d.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,874},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,656},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1729,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1572,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1415,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_1a.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_1b.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_1c.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,874},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_1d.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,656},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,874},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,656},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,874},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_2a.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,656},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_2b.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_2c.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_2d.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,874},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,656},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,874},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,656},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_3a.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_3b.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,874},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_3c.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,656},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_3d.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,438},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_4e.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,220},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
      <key>res_poker_cards_card_4f.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{155,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,216}}</string>
        <key>sourceSize</key>
        <string>{155,216}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>res_poker_cards.png</string>
      <key>size</key>
      <string>{1886,1092}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:12447fa2164586277b644f6eb000dc73:7322106dc25c1aa867b3ef707b0d25a6:8c4a7dcdc9c7424cbefff471eb6a98d1$</string>
      <key>textureFileName</key>
      <string>res_poker_cards.png</string>
    </dict>
  </dict>
</plist>

