<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>SmallCard_card_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1698,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1666,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1634,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1602,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1570,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1538,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1474,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1442,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_0a.png</key>
      <dict>
        <key>frame</key>
        <string>{{1410,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_0b.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_0c.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_0d.png</key>
      <dict>
        <key>frame</key>
        <string>{{1314,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1282,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1218,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1186,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1154,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1122,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1058,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1026,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_1a.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_1b.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_1c.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_1d.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_2a.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_2b.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_2c.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_2d.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_3a.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_3b.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_3c.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_3d.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_4e.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
      <key>SmallCard_card_4f.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{30,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,59}}</string>
        <key>sourceSize</key>
        <string>{30,59}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>SmallCard.png</string>
      <key>size</key>
      <string>{1739,63}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:3df6dfc7bf3d06cb561f8792ed843ced:1/1$</string>
      <key>textureFileName</key>
      <string>SmallCard.png</string>
    </dict>
  </dict>
</plist>

