<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_paizhuo_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>offline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{82,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{82,32}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,100}}</string>
                <key>sourceSize</key>
                <string>{117,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game.png</string>
            <key>size</key>
            <string>{121,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7fcf91f6c2bf08aba69ea6320c4ec64$</string>
            <key>textureFileName</key>
            <string>Game.png</string>
        </dict>
    </dict>
</plist>
