<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JF_AN_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,351},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,230},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,2},{226,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{226,74}}</string>
                <key>sourceSize</key>
                <string>{232,78}</string>
            </dict>
            <key>JF_AN_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,276},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,426},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,197},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,197},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,47},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,122},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,47},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_1_CS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,197},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_1_SC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,197},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,426},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,197},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,2},{226,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{226,74}}</string>
                <key>sourceSize</key>
                <string>{232,78}</string>
            </dict>
            <key>JF_AN_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,122},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,47},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,197},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,197},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,426},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,197},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,122},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_CS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,47},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_AN_2_SC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,230},{227,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{227,73}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>JF_DT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1042,508}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{1042,508}}</string>
                <key>sourceSize</key>
                <string>{1058,520}</string>
            </dict>
            <key>JF_GB_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,426},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JF_GB_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,426},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>font008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{786,43}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{786,43}}</string>
                <key>sourceSize</key>
                <string>{840,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JoinRoom.png</string>
            <key>size</key>
            <string>{2025,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95684a8e3baa6095d784de2c1538124a$</string>
            <key>textureFileName</key>
            <string>JoinRoom.png</string>
        </dict>
    </dict>
</plist>
