<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DL_AN_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{199,71}}</string>
                <key>sourceSize</key>
                <string>{203,77}</string>
            </dict>
            <key>DL_AN_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{199,71}}</string>
                <key>sourceSize</key>
                <string>{203,77}</string>
            </dict>
            <key>DL_XZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{187,26}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{187,26}}</string>
                <key>sourceSize</key>
                <string>{199,38}</string>
            </dict>
            <key>DL_XZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,30},{35,34}}</string>
                <key>offset</key>
                <string>{-74,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{199,38}</string>
            </dict>
            <key>JF_GB_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,30},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JF_GB_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,30},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>youke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{197,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{197,71}}</string>
                <key>sourceSize</key>
                <string>{203,77}</string>
            </dict>
            <key>youke_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{197,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{197,71}}</string>
                <key>sourceSize</key>
                <string>{203,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Login.png</string>
            <key>size</key>
            <string>{991,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fa7c5db3bd3991f86b5780accbccc91$</string>
            <key>textureFileName</key>
            <string>Login.png</string>
        </dict>
    </dict>
</plist>
