<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nxphz_CardDun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{160,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,30}}</string>
                <key>sourceSize</key>
                <string>{160,30}</string>
            </dict>
            <key>nxphz_CardDunBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,444},{180,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,51}}</string>
                <key>sourceSize</key>
                <string>{180,51}</string>
            </dict>
            <key>nxphz_Card_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,366},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>nxphz_Card_s0.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,366},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>nxphz_OutCardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,272},{92,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,242}}</string>
                <key>sourceSize</key>
                <string>{92,242}</string>
            </dict>
            <key>nxphz_SendCardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{92,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,242}}</string>
                <key>sourceSize</key>
                <string>{92,242}</string>
            </dict>
            <key>nxphz_button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,506},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>nxphz_button_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,42},{226,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,228}}</string>
                <key>sourceSize</key>
                <string>{226,228}</string>
            </dict>
            <key>nxphz_button_dismiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,568},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>nxphz_button_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,497},{133,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,131}}</string>
                <key>sourceSize</key>
                <string>{133,131}</string>
            </dict>
            <key>nxphz_button_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{229,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,228}}</string>
                <key>sourceSize</key>
                <string>{229,228}</string>
            </dict>
            <key>nxphz_button_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{229,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,228}}</string>
                <key>sourceSize</key>
                <string>{229,228}</string>
            </dict>
            <key>nxphz_button_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,506},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>nxphz_button_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,444},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>nxphz_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,38}}</string>
                <key>sourceSize</key>
                <string>{421,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nxphz_desk.png</string>
            <key>size</key>
            <string>{505,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:112ecbf4e6493d40c312577e3cc7dfc5$</string>
            <key>textureFileName</key>
            <string>nxphz_desk.png</string>
        </dict>
    </dict>
</plist>
