<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZhanJi_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1042,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1042,509}}</string>
                <key>sourceSize</key>
                <string>{1042,509}</string>
            </dict>
            <key>ZhanJi_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1727},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>ZhanJi_Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1727},{230,69}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{230,69}}</string>
                <key>sourceSize</key>
                <string>{238,71}</string>
            </dict>
            <key>ZhanJi_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1727},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>ZhanJi_Commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{227,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{227,69}}</string>
                <key>sourceSize</key>
                <string>{227,71}</string>
            </dict>
            <key>ZhanJi_FenXiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1944},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>ZhanJi_FirstDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1046},{678,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,86}}</string>
                <key>sourceSize</key>
                <string>{678,86}</string>
            </dict>
            <key>ZhanJi_SearchBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{679,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,333}}</string>
                <key>sourceSize</key>
                <string>{679,333}</string>
            </dict>
            <key>ZhanJi_Watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>ZhanJi_WatchOther.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1869},{213,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,73}}</string>
                <key>sourceSize</key>
                <string>{213,73}</string>
            </dict>
            <key>ZhanJi_dgnn_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1883},{212,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,74}}</string>
                <key>sourceSize</key>
                <string>{212,74}</string>
            </dict>
            <key>ZhanJi_dgnn_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1788},{202,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,74}}</string>
                <key>sourceSize</key>
                <string>{202,74}</string>
            </dict>
            <key>ZhanJi_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1046},{526,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,70}}</string>
                <key>sourceSize</key>
                <string>{526,70}</string>
            </dict>
            <key>ZhanJi_pdk_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1574},{212,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,74}}</string>
                <key>sourceSize</key>
                <string>{212,74}</string>
            </dict>
            <key>ZhanJi_pdk_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1807},{202,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,74}}</string>
                <key>sourceSize</key>
                <string>{202,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhanJi.png</string>
            <key>size</key>
            <string>{513,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:428f478a68e9d785d97dc5b7822d4852$</string>
            <key>textureFileName</key>
            <string>ZhanJi.png</string>
        </dict>
    </dict>
</plist>
