<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nationalproxy_ac_input_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{682,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,38}}</string>
                <key>sourceSize</key>
                <string>{682,38}</string>
            </dict>
            <key>nationalproxy_ac_input_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,262},{270,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,39}}</string>
                <key>sourceSize</key>
                <string>{270,39}</string>
            </dict>
            <key>nationalproxy_ac_input_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{269,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,38}}</string>
                <key>sourceSize</key>
                <string>{269,38}</string>
            </dict>
            <key>nationalproxy_activity_bg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{569,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,195}}</string>
                <key>sourceSize</key>
                <string>{569,195}</string>
            </dict>
            <key>nationalproxy_activity_bg1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,271}}</string>
                <key>sourceSize</key>
                <string>{622,271}</string>
            </dict>
            <key>nationalproxy_apply.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,273},{163,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,52}}</string>
                <key>sourceSize</key>
                <string>{163,52}</string>
            </dict>
            <key>nationalproxy_be_proxy_bt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,132},{688,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,128}}</string>
                <key>sourceSize</key>
                <string>{688,128}</string>
            </dict>
            <key>nationalproxy_be_proxy_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,379},{212,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,74}}</string>
                <key>sourceSize</key>
                <string>{212,74}</string>
            </dict>
            <key>nationalproxy_be_proxy_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,303},{212,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,74}}</string>
                <key>sourceSize</key>
                <string>{212,74}</string>
            </dict>
            <key>nationalproxy_beproxy.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{688,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,128}}</string>
                <key>sourceSize</key>
                <string>{688,128}</string>
            </dict>
            <key>nationalproxy_charge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,303},{179,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,58}}</string>
                <key>sourceSize</key>
                <string>{179,58}</string>
            </dict>
            <key>nationalproxy_charge300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,379},{125,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,61}}</string>
                <key>sourceSize</key>
                <string>{125,61}</string>
            </dict>
            <key>nationalproxy_charge300_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{178,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,27}}</string>
                <key>sourceSize</key>
                <string>{178,27}</string>
            </dict>
            <key>nationalproxy_conclude.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,469},{110,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,36}</string>
            </dict>
            <key>nationalproxy_edit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,262},{397,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,53}}</string>
                <key>sourceSize</key>
                <string>{397,53}</string>
            </dict>
            <key>nationalproxy_getCode.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,469},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>nationalproxy_profit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,2},{157,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,18}}</string>
                <key>sourceSize</key>
                <string>{157,18}</string>
            </dict>
            <key>nationalproxy_profit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,448},{157,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,18}}</string>
                <key>sourceSize</key>
                <string>{157,18}</string>
            </dict>
            <key>nationalproxy_quanmin_activity_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,317},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,172}}</string>
                <key>sourceSize</key>
                <string>{129,172}</string>
            </dict>
            <key>nationalproxy_quanmin_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,393},{212,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,74}}</string>
                <key>sourceSize</key>
                <string>{212,74}</string>
            </dict>
            <key>nationalproxy_quanmin_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,317},{212,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,74}}</string>
                <key>sourceSize</key>
                <string>{212,74}</string>
            </dict>
            <key>nationalproxy_tuiguang_url.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,273},{163,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,52}}</string>
                <key>sourceSize</key>
                <string>{163,52}</string>
            </dict>
            <key>nationalproxy_zengson.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,455},{163,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,52}}</string>
                <key>sourceSize</key>
                <string>{163,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nationalproxy.png</string>
            <key>size</key>
            <string>{1407,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0169caa9fda5ef9c68aa82a16e0daba4$</string>
            <key>textureFileName</key>
            <string>nationalproxy.png</string>
        </dict>
    </dict>
</plist>
