<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nnResult_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,1031},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>nnResult_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,1118},{230,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,72}}</string>
                <key>sourceSize</key>
                <string>{230,72}</string>
            </dict>
            <key>nnResult_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{1136,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,592}}</string>
                <key>sourceSize</key>
                <string>{1136,592}</string>
            </dict>
            <key>nnResult_img_pyq_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,1192},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>nnResult_maxWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1031},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>nnResult_niu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,746},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_niu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,534},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_niu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,534},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_niu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1118},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_niu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1118},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_niu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1140},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_niu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1140},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_niu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1140},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_niu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1140},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_niu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1140},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_niu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{210,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,88}}</string>
                <key>sourceSize</key>
                <string>{210,88}</string>
            </dict>
            <key>nnResult_scoreTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1192},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>nnResult_shared.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2},{190,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,60}}</string>
                <key>sourceSize</key>
                <string>{190,60}</string>
            </dict>
            <key>nnResult_smallTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1118},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>nnResult_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,592}}</string>
                <key>sourceSize</key>
                <string>{1136,592}</string>
            </dict>
            <key>nnResult_total1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1192},{117,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,28}}</string>
                <key>sourceSize</key>
                <string>{117,28}</string>
            </dict>
            <key>nnResult_total2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,64},{140,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,468}}</string>
                <key>sourceSize</key>
                <string>{140,468}</string>
            </dict>
            <key>nnResult_total3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,958},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>nnResult_total6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{1114,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1114,640}}</string>
                <key>sourceSize</key>
                <string>{1114,640}</string>
            </dict>
            <key>nnResult_zhuangTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,746},{283,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,83}}</string>
                <key>sourceSize</key>
                <string>{283,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nnResult.png</string>
            <key>size</key>
            <string>{2024,1230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c25976ced5e47e7a0d17fac9a63008af$</string>
            <key>textureFileName</key>
            <string>nnResult.png</string>
        </dict>
    </dict>
</plist>
