<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ssp_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,385},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>ssp_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,385},{60,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,3}}</string>
                <key>sourceSize</key>
                <string>{60,3}</string>
            </dict>
            <key>ssp_line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,385},{60,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,3}}</string>
                <key>sourceSize</key>
                <string>{60,3}</string>
            </dict>
            <key>ssp_ling1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,437},{228,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,3}}</string>
                <key>sourceSize</key>
                <string>{228,3}</string>
            </dict>
            <key>ssp_sp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,385},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>ssp_spItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{273,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,381}}</string>
                <key>sourceSize</key>
                <string>{273,381}</string>
            </dict>
            <key>ssp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,101}}</string>
                <key>sourceSize</key>
                <string>{444,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ssp.png</string>
            <key>size</key>
            <string>{380,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b6c97fa8f89b990ef2d217bf859b9ac$</string>
            <key>textureFileName</key>
            <string>Ssp.png</string>
        </dict>
    </dict>
</plist>
