<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nxphz_totalend_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1240},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>nxphz_totalend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1114,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1114,640}}</string>
                <key>sourceSize</key>
                <string>{1114,640}</string>
            </dict>
            <key>nxphz_totalend_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{117,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,28}}</string>
                <key>sourceSize</key>
                <string>{117,28}</string>
            </dict>
            <key>nxphz_totalend_houseowner.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1118},{107,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,60}}</string>
                <key>sourceSize</key>
                <string>{107,60}</string>
            </dict>
            <key>nxphz_totalend_maxwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1180},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>nxphz_totalend_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{140,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,468}}</string>
                <key>sourceSize</key>
                <string>{140,468}</string>
            </dict>
            <key>nxphz_totalend_shared.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1118},{190,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,60}}</string>
                <key>sourceSize</key>
                <string>{190,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nxphz_totalend.png</string>
            <key>size</key>
            <string>{644,1310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5222c6b1eddee477b3156a12d3ac7655$</string>
            <key>textureFileName</key>
            <string>nxphz_totalend.png</string>
        </dict>
    </dict>
</plist>
